html,
body {
  margin: 0;
  height: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
  color: #ffffff;
  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: transparent;
}

.typewriter {
  display: inline;
  font-size: 48px;
  color: white;
  text-decoration: none;
  margin: 0;
}

.typed-cursor {
  font-size: 48px;
}

.scroll-down {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mouse {
  width: 2.5rem;
  height: 5rem;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  display: flex;
}

.mouse span {
  width: 1rem;
  height: 1rem;
  background-color: #ffffff;
  display: block;
  border-radius: 50%;
  margin: auto;
  animation: move-wheel 1s linear infinite;
}

.arrow span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 2px solid transparent;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  transform: rotate(45deg);
  animation: move-arrow 0.5s alternate infinite;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.page h1 {
  font-size: 34px;
}

.page p {
  font-size: 16px;
  padding: 20px;
}

#particles-js {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  background-color: #212121;
}

#particles-js canvas {
  display: block;
  transform: scale(1);
}

@keyframes move-wheel {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes move-arrow {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}
